################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JiraToolkit/JiraToolkit/obj/Debug
