<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JiraToolkit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <JiraToolkit.Properties.Settings>
            <setting name="ConfigurationFolderName" serializeAs="String">
                <value>JiraToolKit</value>
            </setting>
            <setting name="ConfigurationFile" serializeAs="String">
                <value>Configuration.json</value>
            </setting>
            <setting name="Configuration" serializeAs="String">
                <value>{
  "StayOnTop": true,
  "Environments": [
    {
      "Name": "My Jira",
      "Prefixes": [
        "PREFIX1",
        "PREFIX2",
        "PREFIX3"
      ],
      "RootUrl": "https://Url.To.My.Jira.com/"
    },
    {
      "Name": "My Jira Two",
      "Prefixes": [
        "PREFIX4",
        "PREFIX5",
        "PREFIX6"
      ],
      "RootUrl": "https://Url.To.My.JiraTwo.com/"
    }
  ],
  "Queries": [
    {
      "Name": "Query One",
      "Url": "{{param}}"
    }
  ]
}</value>
            </setting>
        </JiraToolkit.Properties.Settings>
    </userSettings>
</configuration>